footer {

    .row {

        a,
        p {
            text-decoration: none;
            color: gray;

            &:hover {
                color: white !important;
            }
        }
    }

}