.carousel-indicators {
    bottom: 2px;
}

main {
    .carousel-control-next {
        right: -95px;
    }


    .carousel-control-prev {
        left: -95px;
    }

    .carousel-inner {
        padding: 3rem;

        .col {
            padding: 1px;

            img {
                &:hover {
                    scale: (1.2);

                }
            }

        }
    }
}