ul {
    li {
        margin-right: 8px;
    }
}

#secondSideNav {
    flex-direction: row;

    li {
        a {
            img {
                width: 30px;
            }
        }
    }
}

#logo {
    width: 100px;
}