.container-fluid {
    img {
        width: 100px;
    }
}

ul {
    li {
        margin-right: 8px;
    }
}

#secondSideNav {

    li {
        a {
            img {
                width: 30px;
            }
        }
    }
}