html,
body {
    height: 100%;
    margin: 0;

}

header,
main,
footer {
    margin: 0 1%;
}

.container-fluid {
    --bs-gutter-x: 0rem
}

.backG {
    background-color: #141414;
}

header {
    color: white;
}

.row {
    padding-right: 0;
    margin: 0;
}