/* IMPOSTAZIONI GENERALI */
:root{
    font-family: Poppins, sans-serif;
}
.margin{
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
}
h1 {
    font-size: 25px; 
}

h2 {
    font-size: 35px;
    
}

h4{
    color: rgb(174, 174, 174);
}

body {
    background-image: url(../img/sfondo.png);
}

/* HEADER */  

.centered {
    text-align: center;
    color: white;
    margin: 20px;
}
.centered-second{
    padding: 20px;
    background-color: #fff;
    margin: 20px;
}

.main-block {
    background-color: aquamarine;
    padding: 20px;
    
}

img {
    width: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#hide-balls{
    list-style: none;
}

/* MAIN */

a {
    color: #fff;
    font-size: 18px;
}




/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
