/* IMPOSTAZIONI GENERALI */
:root{
    font-family: 'Poppins', sans-serif;
}
.margin{
    margin-bottom: 20px;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
}
h1 {
    font-size: 25px;
    color: white; 
}

h2 {
    font-size: 35px;
    
}

h4{
    color: rgb(174, 174, 174);
}

h5{
    color: black;

}

body {
    background-image: url(../img/sfondo.png);
}

/* HEADER */  

.centered {
    text-align: center;
    margin: 20px;
}
.centered-second{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 0px 2px 3px 2px rgb(133, 129, 129);
}

.main-block {
    background-color: #006b88;
    padding: 20px;
    
}

img {
    width: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#hide-balls{
    list-style: none;
}

/* MAIN */

a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

p a {
  color: #00a0cc;
  text-decoration: underline;

}
aside a {
    color: #00a0cc;
    text-decoration: underline;
  
  }

/* ELEMENTI NEL MAIN - ARTICLE */
ul {
    padding-left: 30px;
}

ol {
    padding-left: 30px;
}
span{
    color: #aa2072;
}
/* TABELLE */
table{ 
    width: 100%;
    text-align: center;
  
}

thead th {
    background-color: #006b88;
    border: 1px solid whitesmoke;
    padding: 10px;
    
}

.grey {
    background-color: rgb(190, 190, 190)
}

caption {
    font-weight: bold;
    font-style: italic;
}

tbody {
    border-bottom: 2px solid lightskyblue;
}

article {
    line-height: 1.7rem;
}

iframe {
    border-radius: 15px;
    margin-bottom: 30px;
}
/* FORM */
.third-container {
    background-color: #ddddde;
    padding: 20px;

}

.black {
    color: black;
}

button {
    font-family: 'Poppins', sans-serif;
}

input {
    border-bottom: 2px dashed black;
} 

.fourth-container {
    background-color:#ddddde;
    padding: 20px;
}

aside {
    color: black;
}

.fourth-container p {
    margin-top: 5px;
}

.data {
    text-align: right;
    font-size: 0.9rem;
}

footer{
    background-color: #01546b;
    padding: 20px;
    color: #fff;
}

#last-link {
    color: #f216d6;
}
/* ELEMENTI NELL' ASIDE */

/* FOOTER */
