<p class="text-danger text-center">Questo è il mio main Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae
    nemo, fugit
    debitis consequatur ducimus animi non. Quisquam aliquid odio assumenda corrupti culpa error est iusto, aut odit
    ipsam doloremque a!
    Iste, sunt mollitia quibusdam amet hic ratione ad animi beatae blanditiis eos aspernatur illum tenetur repellat,
    atque earum in natus voluptatum fuga architecto consequatur, commodi odio culpa. Incidunt, asperiores enim?
    Voluptatem molestias dolore nam quia. Quas, odio alias temporibus fuga eaque nam doloremque ad dolorem in quae
    accusantium eveniet iste quos iusto sapiente voluptas maxime, corporis architecto ab. Iure, iste.</p>