/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
body {
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#testoAlternato {
    border: 1px solid black;
    width: 500px;
    display: flex;
    justify-content: center;
}

.parole i {
    position: absolute;
}

#first-word {
    animation: wordAnimation 3s ease-in 1s infinite both;
}

#second-word {
    animation: wordAnimation2 3s ease-in 5s infinite both;
}

#third-word {
    animation: wordAnimation3 3s ease-in 10s infinite both;
}

@keyframes wordAnimation {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes wordAnimation2 {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes wordAnimation3 {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}